<div class="section is-medium">
  <div class="columns is-centered">
    <div class="card column is-one-third has-text-centered">
      <h1 class="title">Typing Challenge</h1>
      <div class="card-content">
        <p class="content">
          <span [class]='compare(letter,inputText[i] )' *ngFor="let letter of randomText.split(''); let i = index">{{ letter }}</span>
        </p>
        <div class="field">
          <input
            class="input"
            type="text"
            placeholder="Text input"
            (input)="checkInput($any($event.target).value)"
          />
          <!-- disable checking of a binding expression by surrounding the expression in a call to the $any() -->
        </div>

        <p class="card-footer-title is-size-3" *ngIf="solved">Success!</p>
      </div>
    </div>
  </div>
</div>
